Deepankar chaudhary
Topics - Dictionary , Conditional and Loop

Dictionary
Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values.
dictionary allows integer , boolean , string.

In [1]:
dic = {'key':'value','key2':'value2','key3':'value3'} #creating a dictionary

In [2]:
print(dic) #printing the dictionary we made

{'key': 'value', 'key2': 'value2', 'key3': 'value3'}

In [3]:
type(dic) #checking the type of our variable dic.

dict

In [4]:
#indexing concept is not used here. we have to call the key to get the value.

dic['key']  #we have extracted value by putting the key

'value'

In [5]:
d1 = {'name':'deepankar','mail_id':'deepankar@gmail.com','class':'python' , 'name':'karan'} #creating a new dictionary

In [6]:
#now we have new dictionary d1 and in the dictionary their are two keys name
#lets extract the value of name and see what we get

d1['name']

'karan'

we got value of name karan instead of deepankar. this happened because their are two keys of the same name and the new key overwrited the data

In [7]:
#creating a new list

d2 = {'name':'deepankar','places':['delhi','jaipur','mumbai']} #we can put multiple values but key should be unique

In [8]:
d2

{'name': 'deepankar', 'places': ['delhi', 'jaipur', 'mumbai']}

In [9]:
#to iterate keys from dictionary
d2.keys()

dict_keys(['name', 'places'])

In [10]:
#to iterate values from dictionary
d2.values()

dict_values(['deepankar', ['delhi', 'jaipur', 'mumbai']])

In [11]:
#to iterate both keys and values from dictionary
d2.items()

dict_items([('name', 'deepankar'), ('places', ['delhi', 'jaipur', 'mumbai'])])

to know functions which we can use with a dictionary : use dictname + . + tab

Conditional Statements In Python
In programming languages, most of the time in large projects we have to control the flow of execution of our program and we want to execute some set of statements only if the given condition is satisfied, and a different set of statements when itâ€™s not satisfied.

In [13]:
#if statement : lets understand this with an example

marks = int(input('enter your marks')) #taking input of marks

if marks >= 90: #passing an arguemnt
    print('you scored grade a') #printing the result
else:
    print('you scored grade b')

enter your marks 90

you scored grade a

In [21]:
#lets take another example

marks = int(input('enter your marks'))

if marks >= 90:
    print('you scored grade A')
elif marks >= 60 and marks < 90:
    print('you scored grade B')
elif marks >= 50 and marks < 60:
    print('you scored grade c')
else:
    print('you scored grade D')

enter your marks 65

you scored grade B

In [14]:
#lets take another example

city = input('enter your city')

if city == 'delhi':
    print('monument is Red Fort ')
elif city == 'jaipur':
    print('monument is jai mahal')
elif city ==  'agra':
    print('monument is Taj mahal')
else:
    print('no monument ')

enter your city delhi

monument is Red Fort

LOOP

In [30]:
l = [1,2,3,4,5,6,7,8,9] #creating a list

In [33]:
l1 = []
for i in l:
    print(i)
    l1.append(i)
l1    #running a simple loop to iterate the items from the old list to the new list l1

1
2
3
4
5
6
7
8
9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
l2 = ['deepankar','python','linkedin','loop'] #creating anothe list as l2

In [40]:
l3 = []  #citerating the items of l2 and appending it to the new list l3 
for i in l2:
    print(i)
    l3.append(i.upper())
l3

deepankar
python
linkedin
loop

['DEEPANKAR', 'PYTHON', 'LINKEDIN', 'LOOP']

In [41]:
l4 = [1,2,3,4,55.6,'name','hello','list',45.5,2.3]

In [47]:
l5_num = [] #creating an empty list to iterate only integer items from l4
l6_str = [] #creating an empty list to iterate only string items from l4

for i in l4:
    if type(i) == int or type(i) == float: #running a loop and giving it a condition
        l5_num.append(i) #appending the iterated items the list l5_num
    else:
        l6_str.append(i) #appending the str items in the list l6_str
print(l5_num)
print(l6_str)

[1, 2, 3, 4, 55.6, 45.5, 2.3]
['name', 'hello', 'list']