In [3]:
#Deepankar Chaudhary
#Topics Covered - Map , Reduce and Filter
#The map() function or map and filter in Python (also called as map filter in Python) is a higher-order function. 
#The filter() function is used to generate an output list of values that return true when the function is called.
#The reduce() function applies a provided function to ‘iterables’ and returns a single value, as the name implies.

In [5]:
l = [2,3,4,5,6] #creating a list

In [6]:
#now lets square the items in the list
#we will create a function first
def sqr(x):
    return x**2

In [16]:
map(sqr , l) #now we will call map function, and it takes two parameters(func and iterables). it will give us a generator object

In [17]:
list(map(sqr , l)) #we will wrap it in list to get the values

[4, 9, 16, 25, 36]

In [18]:
#now lets do it with lambda function (which is an inbuilt function)

list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36]

In [20]:
l1 = [2,4,5,6,7]
l2 = [6,7,8,9,4] #creating two list l1 and l2
#now lets sum these two list index wise eg. 2+6 , 4+7 ,5+8 , 6+9, 7+4.

In [21]:
list(map(lambda x , y : x+y , l1 ,l2))

[8, 11, 13, 15, 11]

In [26]:
#now lets change the character of string p into uppercase using map and lambda
p = 'python'

In [28]:
list(map(lambda x : x.upper() , p))

['P', 'Y', 'T', 'H', 'O', 'N']

In [29]:
#Reduce : before using reduce we have to import reduce

from functools import reduce

In [31]:
l = [1,2,3,4,5,6] #creating a list

In [33]:
reduce(lambda x , y : x + y , l) #by using reduce we will sum the elements in list l

21

In [35]:
reduce(lambda x , y , z : x + y + z , l)
#while using reduce we should always try to give only 2 parameters because 3 parameters are not always true.

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [36]:
#now through reduce lets find the biggest element in the list below
l1 = [22,33,12,65,84,23,45,78,55]

In [40]:
reduce(lambda x , y : x if x > y  else y , l1 ) 
#in this example it gave us the biggest value in the list l1

84

In [41]:
#filter
l

[1, 2, 3, 4, 5, 6]

In [44]:
#lets find even number with filter function in list l
list(filter(lambda x : x % 2 == 0 , l)) #it gave us only the even numbers back

[2, 4, 6]

In [46]:
#lets find odd number with filter function in list l
list(filter(lambda x :x % 2 != 0 , l)) #it gave us only the odd numbers back

[1, 3, 5]

In [47]:
#lets make another list 
n = [-1,22,-3,0,4,-5,-7,22,44,55,-33]

In [50]:
#lets take out the negative numbers from the list using filter functions
list(filter(lambda x : x<0 ,n)) #it gave us back the negative numbers

[-1, -3, -5, -7, -33]