In [2]:
#INDEX
#The Python index() method helps you find the index position of an element or an item in a string of characters or a list of items.
#python uses zero based indexing


name = "python" #creating a variable of string
name[0:3] #indexing the variable name from 0 to 3
# here 0 is p , 1 is y and 2 is t

'pyt'

In [3]:
#now only we will take out pto from name variable
name[0:6:2] # in this we jumped by 2 in indexing and by default it is one

'pto'

In [4]:
#printing the name variable in reverse direction 
name[::-1] # here -1 taking it from backwards

'nohtyp'

In [5]:
#LEN function:  The len() function returns the number of items in an object. When the object is a string, the len() function returns the number of characters in the string.
len(name) #their are 6 characters in the string

6

In [6]:
#FIND function : The find() method finds the first occurrence of the specified value.

In [7]:
name.find('o') #o is in the 4 position

4

In [8]:
#COUNT : The count() method returns the number of elements with the specified value.
name.count('p') #their is only one p in the variable name

1

In [9]:
#TITLE AND CAPITALIZE
s1 = 'this is a string'
s1.title()

'This Is A String'

In [10]:
s1.capitalize()

'This is a string'

In [11]:
#concatinating string with a variable of string
s1 + ' in python'

'this is a string in python'

In [12]:
s1 + 3 # we cannot concatenate str with int

TypeError: can only concatenate str (not "int") to str

In [13]:
#LIST : Lists are used to store multiple items in a single variable. 
l1 = [25,4.5,45+5j,'data','python','hello',True] #creating a list

In [14]:
l1

[25, 4.5, (45+5j), 'data', 'python', 'hello', True]

In [15]:
#INDEXING IN LIST
l1[0:3] #list will give the first three values

[25, 4.5, (45+5j)]

In [16]:
#APPEND FUNCTION
l1.append(name) #appending name variable in the list

In [17]:
l1

[25, 4.5, (45+5j), 'data', 'python', 'hello', True, 'python']

In [18]:
#EXTEND FUNCTION: The extend() method adds the specified list elements (or any iterable) to the end of the current list.

l1.extend('hello')

In [19]:
l1

[25,
 4.5,
 (45+5j),
 'data',
 'python',
 'hello',
 True,
 'python',
 'h',
 'e',
 'l',
 'l',
 'o']

In [20]:
#INSERT FUNCTION : The insert() method inserts the specified value at the specified position.
lis = [3,4,5]

In [21]:
#inserting values in the list lis
lis.insert(1,'pen') #inserting string pen in index 1

In [22]:
lis

[3, 'pen', 4, 5]

In [23]:
#SORT : The sort() method is a built-in Python method that, by default, sorts the list in ascending order

so = [22,3,6,45,89,74,12,1,2,4,6] #creating a list
so.sort() #using sort function

In [24]:
so

[1, 2, 3, 4, 6, 6, 12, 22, 45, 74, 89]

In [25]:
#TUPLE : Python Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists which are mutable

tup = (23,2.4,12+5j,'yes','hello everyone',[1,2,3,4],True) #creating a tuple

In [26]:
tup

(23, 2.4, (12+5j), 'yes', 'hello everyone', [1, 2, 3, 4], True)

In [27]:
type(tup)

tuple

In [28]:
tup[0]

23

In [29]:
tup[0] = 'clock' #it is showing error because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [32]:
tup[::-1] #taking out the value from last

(True, [1, 2, 3, 4], 'hello everyone', 'yes', (12+5j), 2.4, 23)

In [37]:
tup.index('yes') #index of yes is 3

3

SET. Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage. A set is a collection which is unordered, unchangeable*, and unindexed.

In [38]:
se = {1,2,3,4,5,5,7,4,1,2,3,2,3,4,5,6} #creating a set

In [44]:
se #set will remove duplicate values

{1, 2, 3, 4, 5, 6, 7}

In [45]:
se1 = {1,2,3,1,2,4,5,415,(7,8,9,94)} #set takes tuple inside it because it is immutable

In [47]:
se1 #set builds an unordered collection of unique elements

{(7, 8, 9, 94), 1, 2, 3, 4, 415, 5}

In [54]:
se.add(9) #adding new elemets in set

In [55]:
se

{1, 2, 3, 4, 5, 6, 7, 9}

In [59]:
se.remove(3)  #removing 3 from set se

In [60]:
se

{1, 2, 5, 6, 7, 9}