In [3]:
#lets print our first code

#want to show something as output.use print function
print('hello world!!')

hello world!!

In [9]:
#VARIABLES
#variables are place holders for storing data
#a variable name cannot start with number
#lets create a variable

x = 10   # x is a variable and it is containing value 10 
print(x)

10

In [10]:
a = "python"
print(a)

python

In [13]:
#basic calculation with variables

x = 10
y = 15
z = x + y
print(z)

25

In [31]:
# DATATYPES
#str means string. ex.python , linkedin
#int means numbers. ex. 45 , 123
#float means decimal values. ex. 45.5 , 1.2
#complex consist two values. the first one is real part and the second part is imaginary
#examples are below

In [32]:
a = 10 #integer
b = 'python' #string
c = 4.5 #float
d = 4+5j #complex

In [36]:
#TYPECASTING
#Type casting is the process in which the compiler automatically converts one data type in a program to another one.

In [38]:
#ex.
a= 2.4 #we have float value
a = int(2.4) #changing it into integer
print(a)

2

In [39]:
b = 3 #we have integer value
b = str(3) #changing it into string
print(b)

3

In [41]:
type(b) #checking the type of b which we just typecast

str

In [43]:
#OPERATORS: Python divides the operators in the following groups:
# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

In [44]:
#ARTHIMETIC OPERATORS
# ,+ ,- ,/ ,* ,**, % ,//
#lets take an ex

a = 1
b = 2
add = a+b
print(add)

3

In [46]:
#RELATIONAL OPERATORS
# == , > , < , >= , <= , !=
#lets take an ex

a = 4
b = 3
if a > b :
    print('a is greater than b ')
else:
    print('false')

a is greater than b

In [50]:
#assignment operators
# = , += , -= , *= , /= , %=
#lets take an ex

a = 2
b = 3
b += a #adding a into b through assignment operators
print(b)

5

In [53]:
#logical operators
# and , or , not
# lets take an ex

a=2
b=3
c=4
d = a < b and b < c # and will give true if all condition works
print(d)

True

In [54]:
# lets take an example of or

a = 2
b = 3
c = 4

d = a > b or c > b
print(d)

True

In [57]:
# lets take an example of not

a = 2
b = 3
c = not a > b #not makes the output opposite
print(c)

True

In [64]:
#MEMBERSHIP OPERATORS
# in , not in
#example of in
a = 2 # creating a variable a
l = [2,4,6,8,10] #creating a list

if(a in l): #checking if a is in the list or not
    print('true')
else:
    print('false')

true

In [66]:
#example of not in

a = 10 # creating a variable a
l = [2,4,5,6,8,7,9,11]  #creating a list

if (a not in l): #checking if a is in the list or not
    print('true')
else:
    print('false')

true

In [69]:
#IDENTITY OPERATORS
# is , is not
#example of is and is not

x = 10 #creating a variable
if(type(x) is int and type(x) is not str): #passing is and is not operators with and
    print('it is an integer not a string')

else:
    print('false')

it is an integer not a string